<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/contact.css">
   <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<style>
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Rowdies:wght@300&family=Sacramento&display=swap');
</style>
    
    {{!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> --}}
    {{!-- <link rel="stylesheet" href="../../public/css/style.css" --}}
    {{!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> --}}
    <title></title>
</head>
<body>
    {{> navbar}}

    <br>
        <br>
        <br>

    <div class="container-fluid mt-5" style:"padding-top:10px;">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
          <div class="row">
            <div class="col-md-6 col-12 hero-text order-md-0 order-1 d-flex justify-content-center align-items-start flex-column ">
              {{!-- <img src="images/NIT logo black.png" alt="NIT logo" style="width:100%"> --}}
             
             
              <h1>
                ELECTRICAL ENGINEERING SOCIETY
              </h1>
              {{!-- <h6>
                NATIONAL INSTITUTE OF TECHNOLOGY,JAMSHEDPUR
              </h6> --}}
              <p>
                The official branch society of <span class="bold-style">NIT, Jamshedpur </span>
              </p>
              {{!-- <button class="btn-style btn-primary">
                Read More
              </button> --}}
            </div>
            <div class="col-md-6 col-12 hero-text order-md-1 order-0">
                <figure>
                  <img src="images/acad_building.jpg" alt="acad-building" style="width:100%" >
                </figure>
            </div>
          </div>
        </div>
      </div>
    </div>


      {{>about}}
      
      
      
      {{!-- {{>services}} --}}
      {{>events}}
      {{>contact}}




      {{!-- {{>location}} --}}





      {{>footer}}




    {{!-- <h1> Home page</h1> --}}
    {{!-- <button class="btn btn-success"> Legendary</button> --}}
    <script src="../jq/jquery.js" type="text/javascript"></script>
    <script src="../js/bootstrap.js" type="text/javascript"></script>
    
</body>
</html>