
             
    <div class="container-fluid mt-5 about-style " id = "events-id">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
          <h3 class="text-center main-heading"> Upcoming Events</h3>
              <div class="row">
                  <div class="col-md-4">
                      <div class="box">
                          <div class="our-services ssl">
                              
                              <h3><strong> ANALYTICA.</h3></strong>
                              <p>A workshop and a bunch of events organized to get real life exposure of placements in data analytics and consultancy domain.</p>

                              </div>
                          </div>
                      </div>


                      <div class="col-md-4">
                      <div class="box">
                          <div class="our-services privacy">
                              
                              <h3><strong> CORE-SAVIOR.</h3></strong>
                              <p>A workshop and a bunch of events organized to get real life exposure of placements in core domain.</p>

                              </div>
                          </div>
                      </div>

                      <div class="col-md-4">
                      <div class="box">
                          <div class="our-services backups">
                              
                              <h3><strong> CODE-ATHON..</h3></strong>
                              <p>A hachathon for coders followed by internship opportunities to the winners.</p>

                              </div>
                          </div>
                      </div> 
                  </div>
              </div>
            </div>
        </div>
      </div>
    </div>
   