<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="css/footer.css">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  
  
</head>
<body>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">


<!--footer starts from here-->
<footer class="footer" style=" bottom:0">
<div class="container bottom_border">
<div class="row">
<div class=" col-sm-4 col-md col-sm-4  col-12 col">
<h5 class="headin5_amrc col_white_amrc pt2"><strong> Electrical Engineering Society</strong></h5>
<!--headin5_amrc-->
<p class="mb10">The official Electrical Branch Society.</p>
<p><i class="fas fa-map-marker-alt"></i> National Institute of Technology, Jamshedpur - 831014</p>
{{!-- <p><i class="fa fa-phone"></i>  +91-6205391023  </p>
<p><i class="fa fa fa-envelope"></i> ees_eed@nitjsr.ac.in </p> --}}


</div>


<div class=" col-sm-4 col-md  col-6 col">
<h5 class="headin5_amrc col_white_amrc pt2"><strong>Contacts</h5></strong>
<!--headin5_amrc-->
<ul class="footer_ul_amrc anchor">
<li><a href="https://api.whatsapp.com/send?phone=+916205391023" target="_blank"><i class ="fab fa-whatsapp"> President</i></a></li>
<li><a href="https://api.whatsapp.com/send?phone=+918107088249" target="_blank"><i class ="fab fa-whatsapp"> Vice-President</i></a></li>
<li><a href="https://api.whatsapp.com/send?phone=+919113169969" target="_blank"><i class ="fab fa-whatsapp"> Manager</i></a></li>
{{!-- <li><a href="http://webenlance.com">Ebay & Amazon</a></li>
<li><a href="http://webenlance.com">Hair Masking/Clipping</a></li>
<li><a href="http://webenlance.com">Image Cropping</a></li> --}}
</ul>
<!--footer_ul_amrc ends here-->
</div>


<div class=" col-sm-4 col-md  col-6 col">
<h5 class="headin5_amrc col_white_amrc pt2"><strong>Quick Links</h5></strong>
<!--headin5_amrc-->
<ul class="footer_ul_amrc">
{{!-- <li><a href="http://webenlance.com">Team</a></li> --}}
<li><a href="http://webenlance.com">Faculties</a></li>
{{!-- <li><a href="http://webenlance.com">Memories</a></li> --}}
<li><a href="http://webenlance.com">Pravardhan</a></li>
<li><a href="http://webenlance.com">Know Your Company</a></li>
{{!-- <li><a href="http://webenlance.com">Image Cropping</a></li> --}}
</ul>
<!--footer_ul_amrc ends here-->
</div>


<div class=" col-sm-4 col-md  col-12 col">
<h5 class="headin5_amrc col_white_amrc pt2"><strong>Login</strong></h5>
<!--headin5_amrc ends here-->

<ul class="footer_ul2_amrc">
  
<li><a class="anchor" href=""><i class ="fas fa-user-lock"> Admins</i></a></li>
  
<li><a class="anchor" href=""><i class ="fas fa-user-check"> Members</i></a></li>

<li><a class="anchor" href=""><i class ="fas fa-address-card"> Students</i></a></li>

{{!-- <li><a href="#"><i class="fab fa-twitter fleft padding-right"></i> </a><p>Lorem Ipsum is simply dummy text of the printing...<a href="#">https://www.lipsum.com/</a></p></li>
<li><a href="#"><i class="fab fa-twitter fleft padding-right"></i> </a><p>Lorem Ipsum is simply dummy text of the printing...<a href="#">https://www.lipsum.com/</a></p></li>
<li><a href="#"><i class="fab fa-twitter fleft padding-right"></i> </a><p>Lorem Ipsum is simply dummy text of the printing...<a href="#">https://www.lipsum.com/</a></p></li> --}}
</ul>
<!--footer_ul2_amrc ends here-->
</div>
</div>
</div>


<div class="container">
<ul class="foote_bottom_ul_amrc">
<li><a href="/index">Home</a></li>
<li><a href="#about-id">About</a></li>
<li><a href="#events-id">Events</a></li>
<li><a href="#locationid">Location</a></li>
{{!-- <li><a href="http://webenlance.com">Blog</a></li> --}}
<li><a href="#contactid">Contact Us</a></li>
</ul>
<!--foote_bottom_ul_amrc ends here-->
<p class="text-center">2022 © Electrical Engineering Society. All Rights Reserved. 
  {{!-- | Designed by <a class="anchor" href="https://www.linkedin.com/in/vinayak-kumar-vk17/" target="_blank">Nidhi.</a></p> --}}
  | Designed by <a class="anchor" href="https://www.linkedin.com/in/vinayak-kumar-vk17/" target="_blank">Vinayak.</a></p>

<ul class="social_footer_ul">
<li><a href="https://www.facebook.com/eesnitjsr/" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
<li><a href="https://twitter.com/ees_electrical" target="_blank"><i class="fab fa-twitter"></i></a></li>
<li><a href="https://www.linkedin.com/company/eesnitjsr/mycompany/?viewAsMember=true" target="_blank"><i class="fab fa-linkedin"></i></a></li>
<li><a href="mailto:ees_eed@nitjsr.ac.in"><i class="fas fa-envelope-square"></i></a></li>
</ul>
<!--social_footer_ul ends here-->
</div>

</footer>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>


</body>
</html>
